*{
    font-family: monospace;
}
body {
    font-size: large;
    font-weight: 900;
}
p{
    font-size: small;
}
.purple{
    font-family: monospace;
    color:purple;
}
.grey {
    font-style: oblique;
    color: grey;
}
.highlight #heading{
    font-weight: 1000;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-variant: initial;
    font-stretch: expanded;
    background: linear-gradient(#945553,#ccc);
}
h1 ,h2 {
    font-size: xx-large;
    font-style: oblique;
    color : rgb(103, 31, 43);
}
.highlight span{
    text-transform: capitalize;
    color: gold;
}
