* {
    background: papayawhip;
    font-family: monospace;

}
.heading
{
    border:5px dotted #242454 ;
    /* default for H1 tag is 24px */
    /* default for P tag is 16px , 1em=16px*/
    /* 1rem = 16px */
    width: fit-content;
    font-size:3rem;
    padding: 0.2em;
}
main {
    font-size:2rem;
}
.para1{
    font-family: monospace;
    width: 40ch;
    /* default for P tag is 16px , 1em=16px*/
    /* font-size:2em; */
}

