body{
    font-size: 22px;
    font-family: monospace;
    background:papayawhip;
    color:rgb(0,1,255);
}
h1{
    color:darkmagenta
}
h2 {
    /* hexa stars with 0-9 and a-f */
    /* color:#b2b2b2; */
    color:darkgreen
}
article {
    color:#333;
}
