body {
    font-family: "Roboto";
    font-size: 2rem;
}
main {
    background-color: aqua;
}
p {
    background-color: lightgrey;
}
.opposite {
    background-color: #333;
    color:lightgrey;
    margin-top: 100px;
}