.card{
  border: 1px solid hsla(0, 0%, 62%, 0.829) ;
  border-radius: 10px;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.1);
  padding:20px ;
  margin:20px;
  text-align: center;
  max-width: auto;
  display: inline-block;

}
.ProfilePic {
  margin-bottom: 10px;
  border-radius: 25%;
  max-width: 60%;
  min-height: auto;
}
.card .card-title {
  font-family: Ariel , sans-serif;
  margin :0 ;
  color:hsl(0,0%,20%);
}
.card .card-text {
  font-size:2em ;
  font-family: 'Times New Roman' , sans-serif;
  color:hsl(0, 0%, 35%);
}
.button {
  background-color: hsl(200, 100%, 50%);
  color:whitesmoke;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor:crosshair ;
}
/* Props TUTORIAL */

.student {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  border: 2px solid hsla(0, 0%, 0%, 0.591);
  padding: 10px;
  text-decoration:wavy ;
  display: inline-block;
  border-radius: 15px;
    /* max-width: 20%; */
}
.student p {
  margin:10px;
  padding: 5px;
}
/* props condition */

.welcome-message {
  font-size: 2.5rem;
  padding: 10px;
  color:hsla(108, 71%, 56%, 0.829);
  background-color: hsla(30, 8%, 86%, 0.864);
}

.login-prompt {
  font-size: 2.5rem;
  padding: 10px;
  color:hsla(0, 0%, 88%, 0.981);
  background-color: hsl(0, 100%, 46%);
}
.bTnContainer {
  
  display: block;
  max-width: fit-content;
  text-align: center;
  /* align-content: center; */
  background-color: hsla(45, 78%, 91%, 0.886);
  padding: 0;
  border-radius: 20px;
  margin:auto;
  font-size: 3rem;
  box-shadow: 1px 20px 4px 6px hsla(0, 0%, 0%, 0.1);;
}
.bTnContainer button {

  padding: 30px;
  color: black;
  background-color: hsla(0, 0%, 0%, 0.201);
  margin: 10px;
  border: none;
  border-radius: 80px;
}
.bTnContainer button:hover {
  color: hsla(0, 0%, 97%, 0.846);
  background-color: rgba(0, 0, 0, 0.725);
}
.bTnContainer p {
  font-size: 1.5em;
  padding: 10px 30px;
}

/* ColorChanger{E:\codes\React JS\my-react-app\src\UseState\ColorChanger.jsx} CSS */
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-picker-container h1 {
  margin: 50px;
  font-size: 3rem;
}
.color-picker-container label {
  margin: 50px;
  font-size: 3rem;
}
.color-display {
  width: 300px;
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border : 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: .1s ease-in-out ;
}

.color-display p {
  color:hsl(0,0%,20%);
  font-size: 2rem;
  text-align: center;
}
input[type="color"] {
  size: 100%;
  border: 5px solid hsl(0,0%,20%);
  width: 5vw;
  height: 5vh;
  padding: 8px;
  margin: 25px;
  border-radius: 10px;
}

.food-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.food-item-container li:hover{
  font-size: 2rem;
  cursor: crosshair;
  opacity: 80%;
  text-decoration: line-through ;
}
.food-item-container button {
  margin:10px 0px 0px 0px;
}