* {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
}
.header_nav {
    background-color: rgb(178, 117, 117);
    border-radius: 5px;
}
.header_nav ul {
    overflow: auto;
}
.header_nav li {
    margin:15px 20px ;
    list-style: none;
    float: left;
}
.header_nav li a {
    color:black;
    border-radius: 29px;
    padding: 1rem;
    background-color: whitesmoke;
}
a  {
    text-decoration: none;
}
.header_nav li :hover {
    border-radius: 300px;
    padding: 25px;
    margin:25px;
    color:whitesmoke;
    background-color: rgb(32, 28, 28);
    /* background: linear-gradient(grey 15%,white 15%,black 1%); */
}