
body {
    padding: 10%;
    margin-top: 1px;
    font-size: 2em;
}
a {
    text-decoration: none;
    color:hsl(240, 100%, 50%);
}
a:visited {
    color: purple;
}
a:hover{
    color:hsl(hsl(240, 100%, 65%));
}
a:active {
    color:gold
}
#no-click:hover{
    cursor:not-allowed;
    text-decoration:line-through ;
    color:darkred;
 
}