* {
    font-family: 'Roboto',sans-serif;
    font-size: 2rem;

}
.container {
    display: inline-table;
    
    align-items: center;
}
.container button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,sans-serif;
    font-size: 2rem;
    color:rgb(121, 121, 140);
    padding: 25px;
    background-color: rgb(82, 76, 76);
    border-radius: 40px;

}
.container .button1 ,.container .button2  {
    flex: auto;
}
.container .button1:hover{
    color: rgb(255, 241, 241);
    background-color:rgb(121, 121, 140);
    text-transform: uppercase;
    letter-spacing: 20px;
    
}