*{
    padding: 0 ;
    margin : 0 ;
    box-sizing: border-box;
}
body {
    height : 100vh;
    width : 100vw;

}
.container {
    display: grid;
    padding: 4rem;
    gap : 1rem ;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.641);
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(1,1fr);
}
.item {
    display: flex;
    color:white;
    background-color: hsla(240, 30%, 62%, 0.665);
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    border :5px dashed black; 
}


@media (min-width:768px) { 
    .container {

        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
    }
    .header ,.footer {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .sidebar  {
        grid-row-start: 2;
        grid-row-end: 4;
    }
    
    .content1 {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}