body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}
.stop-watch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}
.display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 5%, 27%);
  text-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.75);
  margin-bottom: 20px;
}
.controls button {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1px;
  transition: background-color 0.5s ease;
}
.start-button {
  background-color: hsl(120, 100%, 25%);
  &:hover {
    background-color: hsl(120, 100%, 15%);
  }
}
.stop-button {
  background-color: hsla(0, 100%, 50%, 0.837);
  &:hover {
    background-color: hsl(0, 100%, 25%, 0.837);
  }
}
.reset-button {
  background-color: hsl(240, 100%, 50%);
  &:hover {
    background-color: hsl(240, 100%, 35%);
  }
}
